[submodule "dotfiles-atomantic"]
	path = dotfiles-atomantic
	url = https://github.com/atomantic/dotfiles.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "dotfiles-holman"]
	path = dotfiles-holman
	url = https://github.com/holman/dotfiles.git
[submodule "dotfiles-mathias"]
	path = dotfiles-mathias
	url = https://github.com/mathiasbynens/dotfiles.git
